@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.html{
    font-size: 70%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: border-box;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

.logo{
    width: 150px;
    height: 150px;
    align-content: left;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #f2d6c9;

}
.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span{
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
    
}
.enlaces-menu{
    display: flex;
    padding: 0;

}
 
.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.5s;
}

.enlaces-menu li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    font-weight: 600;

}
.enlaces-menu li:hover{
    background-color:rgb(181, 148, 207);
} 
.titulo{
    width: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    font-family:'Inconsolata', monospace;
}
.bajotitulo{
    width: 100%;
    color: whitesmoke;
    text-align: center;
    text-justify:newspaper;
    font-size: 20px;
}
p{
    text-align: justify;
    padding: 10px;
}
.foto{
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.esc{
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.stit{
    text-align: center;
} 
.slider{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.slider ul{
    display:flex;
    animation: cambio 20s infinite alternate linear;
    width: 500%;
}    
.slider li{
    width: 100%;
    list-style:none;
}    
.slider img{
    width: 100%;
    height: 100%;

}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
    100%{margin-left: -400%;}
}

.ftitulo,
.subtitulo   {
	color: whitesmoke;
	text-align: center;
	font-size:35px;
	font-weight: 400;
}

.subtitulo   {
	font-size:22px;
	margin-bottom:40px;

}
.footer{
    margin-bottom: 10px;
}

form {
	display: flex;
	width: 80%;
	justify-content: space-between;
	flex-wrap: wrap;
		margin: auto;

}

input[type="text"],
input[type="email"] {
	display: inline-block;
	width: 48%;
	border: none;
	background: rgba(37,37,33,.7);
	color:whitesmoke;
	margin-bottom: 10px;
	height:40px;
	
	
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus
 {
	border-top: 5px solid rgba(255,255,255,0.7);
}

textarea {
	display:block;
	width:100%;
	max-width: 100%;
	padding: 15px 15px;
	border: none;
	background: rgba(37,37,33,.7);
	color: white;	
	margin-bottom: 10px;
	
}

input[type="submit"] {
	display:block;
	padding: 10px;
	border: none;
	background: rgba(37,37,33,.7);
	color: white;
	width:250px;  
    height: 20px;  
}

.piedepagina{
    width: 100%;
    background-color: #f2d6c9;
}
.grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box img{
    width: 150px;
}
.box h2{
    color: rgba(3, 5, 29, 0.774);
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.box p{
    margin-bottom: 10px;

}.redsocial i{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color:rgb(181, 148, 207);
    text-align: center;
    transition: all 30ms ease;
}
.redsocial i:hover{
    color: blueviolet;
}
.grupo2{
    background-color: rgb(181, 148, 207) ;
    padding: 15px 10px;
    text-align: center;
    color: black;

}
.small{
    font-size:40px ;
    text-align: center;
}


